*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}
nav{
  background: #dbdbdb;
  height: 50px;
  width: 100%;
}
label.logo{
  color: #084C80;
  font-size: 30px;
  line-height: 50px;
  padding: 50px ;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 50px;
  margin: 0 5px;
}	
nav ul li a{
  color: #000000;
  font-size: 16px;
  line-height: 50px;
  padding: 18px 18px;
}
a.active,a:hover{
  background: #084C80;
  color: #ffffff;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: #084C80;
  float: right;
  line-height: 50px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

@media all and (min-width: 992px) {
 .dropdown-menu{
   display: none;
  }
 
 .nav-item:hover .dropdown-menu{
   display:inline-block;
   margin: 50px -200px;
   vertical-align: middle;
   float:left;
   width:245px; /* adjust */
   height:220px; /* adjust */
   background-color: #D3E7F6;
   text-align: center;
  }

 .nav-item .dropdown-menu{
   margin-top:0;
  }
  
  
 }

@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
    color: #084C80;

  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #D3E7F6;
    top: 50px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
section{
  
}